




 .navbar-nav .nav-item{

    margin-right: 20px;
}




.navbar .collapse{

    
    width: 500px;



    

} 

.navbar .navbar-nav {
width: 350px;
    

}


.navbar .navbar-nav #link-about {

    
    width: 100px;
}

.navbar .navbar-nav .nav-item a:hover{ 

    text-decoration: none;
    text-transform: none;
    color: white;


}



